
table,th,td{
border:1px solid black;
background-image:linear-gradient(red,yellow);
font-color:white;
}
body {
  background-image: url('https://images.unsplash.com/photo-1471644806490-77c53366b18b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80');

}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 0s;
animation-iteration-count: infinite;
margin-top:200px;
border-radius:50px;
display:flex;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
.cha
{
 margin-t0p:100px;
}
